@import '../../styles/responsive.scss';

.single {
  display: flex;

  @include xl {
    flex-direction: column;
    gap: 50px;
  }

  .view {
    flex: 1;
    .info {
      .topInfo {
        display: flex;
        align-items: center;
        gap: 20px;

        img {
          width: 100px;
          height: 100px;
          border-radius: 20px;
          object-fit: cover;
        }

        h1 {
          font-weight: 500;
        }

        button {
          padding: 5px 10px;
          font-size: 16px;
          background-color: #b11320;
          outline: none;
          border: none;
          border-radius: 2px;
          color: white;
          font-weight: 600;
          cursor: pointer;
        }
      }

      .details {
        font-size: 18px;
        .item {
          margin: 30px 0;

          .itemTitle {
            font-weight: 600;
            margin-right: 10px;
            text-transform: capitalize;
          }
        }
      }
    }

    hr {
      width: 90%;
      height: 0;
      border: 0.5px solid rgba(128, 128, 128, 0.589);
      margin-bottom: 20px 0px;

      @include md {
        display: none;
      }
    }

    .chart {
      margin-top: 50px;
      width: 80%;
      height: 400px;

      @include md {
        display: none;
      }
    }
  }

  .activities {
    flex: 1;

    h2 {
      margin-bottom: 20px;
    }

    ul {
      li {
        list-style-type: none;
        position: relative;
        width: 1px;
        padding-top: 50px;
        background-color: #f45b69;

        &::after {
          content: '';
          width: 10px;
          height: 10px;
          position: absolute;
          left: 0;
          bottom: 0;
          transform: translateX(-50%);
          border-radius: 50%;
          background-color: #f45b69;
        }

        div {
          min-width: 480px;
          padding: 15px;
          background-color: #f45b6910;

          @include md {
            min-width: 250px;
          }

          p {
            margin-bottom: 5px;
          }

          time {
            font-size: 12px;
          }
        }
      }
    }
  }
}
