@import '../../styles/responsive.scss';
.topBox {
  h1 {
    margin-bottom: 20px;

    @include xxl {
      font-size: 24px;
    }
  }

  .list {
    .listItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;

      .user {
        display: flex;
        gap: 20px;

        img {
          height: 40px;
          width: 40px;
          object-fit: cover;
          border-radius: 50%;

          @include xxl {
            display: none;
          }

          @include lg {
            display: block;
          }
        }

        .userTexts {
          display: flex;
          flex-direction: column;
          gap: 5px;
          .username {
            font-size: 14px;
            font-weight: 500;
          }

          .email {
            font-size: 12px;

            @include xxl {
              display: none;
            }

            @include lg {
              display: block;
            }
          }
        }
      }
      .amount {
        font-weight: 500;
      }
    }
  }
}
